= simple_form_for group, html: { class: 'form-horizontal' } do |f|
  = render 'shared/object_errors', object: group

  = f.input :name
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn-primary'
