.page-header
  = icon_link_to 'list-alt', t('back'), groups_path, class: 'btn btn-default'
  = icon_link_to 'info-sign', t('show'), group, class: 'btn btn-primary'
  %h1= t('.title')

= render 'form'
