-if object.errors.any?
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
    %h4= "#{pluralize(object.errors.count, "error")} prohibited this event from being saved:"

    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
