.page-header
  = icon_link_to :plus, 'New Event', new_event_path, class: 'btn btn-primary'
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th State
        %th Name
        %th Start at
        %th Attendees
        %th Limit
        %th Invite from
        %th Actions

    %tbody
      = render @events

.text-center
  .text-muted= page_entries_info @events
  = paginate @events
